// Information:    UPDATE: 2017.07.20
//
// (Bootstrap's Rule)
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.



$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$aurora-navy: #003954 !default;
$aurora-blue: #3d82ab !default;
$aurora-green: #45bb89 !default;


$calm:          #3791af !default;
$light-calm:    #7FB9CC !default;
$deep-calm:     #194250 !default;
$light-calm-100: #ECF5F7 !default;